.square {
    width: 200px;
    height: 200px;
    background-size: cover;
    border: solid 1px gray;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}

.fly {
    background-image: url('images/fly.jpg');
}

.swat {
    background-image: url('images/swat.jpg');
}