main {
    display: flex;
    flex-wrap: wrap;
}
.sudoku {
    display: grid;
    padding: 20px;
    grid-template-rows: repeat(9, 50px);
    grid-template-columns: repeat(9, 50px);
}
.sudoku h2 {
    grid-column: 1 / span 9;
}
.sudoku div {
    border: solid 0.2px lightgray;
    text-align: center;
    line-height: 50px;
    font-size:2em;
}
.sudoku .row-2, .sudoku .row-5 {
    border-bottom: solid 1px black;
}
.sudoku .col-2, .sudoku .col-5 {
    border-right: solid 1px black;
}
.sudoku .highlight {
    background-color:lightyellow;
}
.sudoku .pencil-marks {
    font-size: 0.5em;
    line-height: auto;
}

#sudoku-string {
    display:block;
}